:root {
    --clr-One: #1A3940;
    --clr-Two: #225459;
    --clr-Three: #428C8C;
    --clr-complement1: #72F2E5;
    --clr-complement2: #AEF2EB;
    --Clr-White: #ffffff;
    --clr-Black: #000000;

    --font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size-tall: 1.8rem; 
    --font-size--tile: 2.4rem;; 
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%,
    rgb(252, 221, 221) )92%;
}

header {
    width: 100%;
    height: 15vh;
    background-color: var(--clr-One);
}
nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.column {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}